<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.sointeractive.isaaclock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="pl.sointeractive.isaaclock.data.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="pl.sointeractive.isaaclock.activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.sointeractive.isaaclock.activities.OldUserActivity"
            android:label="@string/app_name" />
        <activity
            android:name="pl.sointeractive.isaaclock.activities.UserActivityViewPager"
            android:label="@string/app_name" />
        <activity
            android:name="pl.sointeractive.isaaclock.activities.UserActivityTabs"
            android:label="@string/app_name" />
        <activity
            android:name="pl.sointeractive.isaaclock.activities.AlarmActivity"
            android:label="@string/app_name" />

        <receiver
            android:name="pl.sointeractive.isaaclock.data.AlarmReceiver"
            android:process=":remote" />

        <service android:name="pl.sointeractive.isaaclock.data.AlarmService" >
        </service>
    </application>

</manifest>